.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: auto;
    background-color: var(--dark-charcoal);
    padding: 30px;
    border-radius: 10px;
    width: 58%;
    text-align: center;
}