@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFFF;
  --black: #000000;
  --dark-navy: #00090E;
  --gray-light: #E1E1E1;
  --gray-medium: #888888;
  --gray-midnight: #394042;
  --green-light: #81FE88;
  --green-medium: #3dff47;
  --dark-charcoal: #171D1F;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  text-align: left;
}

body {
  margin: 0;
  font-family: "Roboto Flex", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-navy);
  color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
